<a href="https://colab.research.google.com/github/sidd6p/AWS-ML-Product_Length/blob/main/src/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Data

In [357]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import tensorflow as tf

In [358]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from tensorflow.keras import layers

In [359]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials


# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [360]:
link="https://drive.google.com/file/d/16ZHfZwv8VV2jGWRrJgfqalAOcDc7gTJH/view?usp=share_link"
import pandas as pd

# to get the id part of the file
id = link.split("/")[-2]

downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('train_this.csv')

In [361]:
raw_data = pd.read_csv('train_this.csv')

In [362]:
raw_data

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH,CATEGORY
0,22,"Quantum Mechanics, 2nd Edition (Special Indian...",NaN,NaN,6322,787.400000,5
1,27,"The Lion, the Witch and the Wardrobe (The Chro...",NaN,NaN,42,417.322000,4
2,30,My Cousin Rachel,NaN,NaN,99,417.322000,4
3,33,Coriolanus,NaN,NaN,113,417.322000,4
4,37,The Crucible,NaN,NaN,113,417.322000,4
...,...,...,...,...,...,...,...
118147,2999928,Beat Top Model Car 9 inch Full Touch Screen An...,[2GB RAM/16GB ROM With 1 Year Warranty: Develo...,Product Version: Hi-Fi Version with Vertical o...,2108,984.251967,5
118148,2999930,Black Panther: 2018 (DVD),DVD MOVIE,"After his father's death, T'Challa returns hom...",3,1102.362204,6
118149,2999937,Customized Happy Anniversary Wooden Photo Fram...,"[Photo Quantity: 4 Images Required,Dimension: ...","Express Your Love & Feelings On Valentines, An...",12228,1259.842518,6
118150,2999946,LAKWAL Handcrafted Brass Golden Kamdhenu Cow w...,"[Measures Length: 17 CM, Width:12 CM, Height:1...",Handcrafted Large Gold Elegant Kamdhenu Cow an...,5506,669.291338,5
118151,2999993,Roffatide Anime Cartoon Plush Doll Backpack Ka...,"[Material: plush material.,Measurements: 10.6 ...",<br><br><b>You can search 'Anime' in our store...,3421,1062.992125,6

# Clean Data

In [363]:
import numpy as np
import pandas as pd
import nltk
import re

In [364]:
nltk.download('stopwords')
stop_words = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [365]:
raw_data = raw_data.dropna(how='any')
raw_data = shuffle(raw_data, random_state=42)

In [366]:
def remove_punctuation(text):
    final = "".join(u for u in text if u not in ("?", ".", ";", ":", "!", '"', "'"))
    return final

In [367]:
def preprocess_text(text):
    text = re.sub(r'[^\w\s]', '', text)
    text = text.lower()
    text = " ".join([word for word in text.split() if word not in stop_words])
    return text

In [368]:
texts = ['TITLE', 'BULLET_POINTS', 'DESCRIPTION']

In [369]:
for text in texts:
  raw_data[text] = raw_data[text].astype(str)
  raw_data[text] = raw_data[text].apply(remove_punctuation)
  raw_data[text] = raw_data[text].apply(preprocess_text)
  raw_data[text] = raw_data[text].apply(lambda x: ' '.join(x.split()))  # Remove extra whitespaces
  raw_data[text] = raw_data[text].str.replace('\d+', '')  # Remove digits
  raw_data[text] = raw_data[text].str.replace('[^\x00-\x7F]+', '')  # Remove non-ASCII characters

<ipython-input-369-b1727534fe32>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  raw_data[text] = raw_data[text].str.replace('\d+', '')  # Remove digits
<ipython-input-369-b1727534fe32>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  raw_data[text] = raw_data[text].str.replace('[^\x00-\x7F]+', '')  # Remove non-ASCII characters

In [370]:
raw_data

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH,CATEGORY
48838,1238161,brass glass nautical finder compass briton lon...,brass made products made solid brass carefully...,brass glass nautical finder compass briton lon...,5506,196.850393,3
75892,1924942,micra powermat acupressure magnetic foot relie...,effective health cure right super india store ...,effective health cure right micra brings valua...,8453,1181.102361,6
60222,1526668,xpand quick release roundlacing tie shoelaces ...,simple comfortable never tie shoes turn shoe s...,xpand quick release roundlacing system one kin...,3101,5200.000000,8
116558,2960925,renue lifestyle brass waste coupling wash basi...,corrosion resistant material wash basin waster...,pthe design detailing bathroom something bring...,10279,433.070866,4
74488,1889972,real rugs kids pets friendly bella woollen rug...,exciting handmade rugs make statement contempo...,pexperience stunning beauty charm rug collecti...,1636,7200.000000,8
...,...,...,...,...,...,...,...
107187,2723116,stop fashion womens crape multicolor digital ...,material american crepe th sleevesprint typed...,crepe stitched size smlxlxxlxl fancy kurtis s...,2916,1000.000000,5
118075,2998179,alstonia multi color premium digital print cus...,low covers invisible zipper hidden zippers mak...,defined printed surface design cushion cover s...,7256,1574.803148,6
98916,2511436,bbq gloves heat resistant grilling gloves blac...,premium triple material heatresistant gloves c...,bbq grill gloves,5651,1496.000000,6
33149,845187,cate bulk cable awg blue solid,utp cate,cate bulk cable awgblue solid,4,827.000000,5
64313,1632550,twisted x womens inch toe embroidered western ...,slip resistant outsole equipped molded rubber ...,work without worries inch western hiking boots...,2640,1500.000000,6

# MODEL 0 - NAIVE BAYES

In [379]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB

In [380]:
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'CATEGORY'.
raw_data['CATEGORY']= label_encoder.fit_transform(raw_data['CATEGORY'])

In [381]:
splitter = int(len(raw_data)*.8)
train, test = raw_data[:splitter], raw_data[splitter:]

In [382]:
texts = ['TITLE', 'BULLET_POINTS', 'DESCRIPTION']
MODELS = dict()
SRCS = dict()

In [383]:
for text in texts:
  X_train, y_train = train[text], train['CATEGORY']
  X_val, y_val = test[text], test['CATEGORY']
  model = Pipeline([
                    ('tfidf', TfidfVectorizer()),
                    ('clf', MultinomialNB(alpha = 1))
  ])
  model.fit(X_train, y_train)
  MODELS[text] = model
  model_score = MODELS[text].score(X_val, y_val)
  model_score * 100
  SRCS[text] = MODELS[text].predict(X_val)

In [388]:
MODELS

{'TITLE': Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', MultinomialNB(alpha=1))]),
 'BULLET_POINTS': Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', MultinomialNB(alpha=1))]),
 'DESCRIPTION': Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', MultinomialNB(alpha=1))])}

In [389]:
SRCS

{'TITLE': array([5, 5, 5, ..., 5, 5, 6]),
 'BULLET_POINTS': array([5, 5, 5, ..., 5, 5, 5]),
 'DESCRIPTION': array([5, 5, 5, ..., 5, 5, 5])}